<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Full Name" required>
  </div>
  <div class="form-group">
    <label>E-mail</label>
    <input class="form-control" name="email" #email="ngModel" [(ngModel)]="employeeService.selectedEmployee.email" placeholder="E-mail">
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input class="form-control" name="phone" #phone="ngModel" [(ngModel)]="employeeService.selectedEmployee.phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label>Age</label>
    <div class="input-group">
      <input class="form-control" name="age" #age="ngModel" [(ngModel)]="employeeService.selectedEmployee.age" placeholder="Age">
    </div>
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" name="city" #city="ngModel" [(ngModel)]="employeeService.selectedEmployee.city" placeholder="City">
  </div>
  <div class="form-group">
    <label>Salary</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-dollar"></i>
      </div>
      <input class="form-control" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>
</form>
