<header class="py-5 bg-image-full" style="background-image: url('../../assets/bg-header.png'); background-size:  contain;">
  <img class="img-fluid d-block mx-auto" src="../../assets/logo.png" alt="">
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <!--<h1>Section Heading</h1> -->
    <p class="lead">Thanks for watching our videos. You'll be redirected to your download asap. Have you heard of x before?</p>
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>-->
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<!--<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
  <div style="height: 200px;"></div>
</section>-->

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <button routerLink="/redirect" [queryParams]="{link: 'example.com', id:'first-time'}" type="button" class="btn btn-secondary btn-lg btn-block bt-text">No, this is my first time</button>
    <button routerLink="/redirect" [queryParams]="{link: 'example.com', id:'subscribed-to-x-competitors'}" type="button" class="btn btn-secondary btn-lg btn-block bt-text">Yes, i'm subscribed to x competitors</button>
    <button routerLink="/redirect" [queryParams]="{link: 'example.com', id:'subscribed-to-you'}" type="button" class="btn btn-secondary btn-lg btn-block bt-text">Of course, i've been subscribed to you for ages!</button>



    <div class="sb-form thumbnail center well well-small text-center">
      <p class="lead">give us your email to join the inner circle.</p>
      <form action="" method="post">
        <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
          <input type="text" id="" name="" placeholder="your@email.com" class="form-control" style="width:100%;">
        </div>
        <br />
        <input type="submit" class="btn btn-info" value="Subscribe Now!" />
      </form>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; THRILLS 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
